@charset "euc-kr";
@import url("reset.css");
@import url("https://fonts.googleapis.com/earlyaccess/nanumgothic.css");
*{-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;}
body{overflow-x:hidden}
body,a,input,label{font-family:'Roboto',sans-serif;letter-spacing:-1px}
.blind{position: absolute;overflow:hidden;font-size:1px;line-height:1px;text-indent:-1000000px}
.scroll{overflow-y:hidden;/*height:100%*/}
/* 본문 바로가기 */
.skip{position: absolute;display:block;overflow:hidden;height:1px;width:1px;margin:0 -1px -1px 0;padding:0;font-size:0;line-height:0;text-align: center;background: #ffa800;z-index: 999999;}
.skip:hover,
.skip:active,
.skip:focus{width:100%;height:auto;margin:0;padding:10px 0;font-weight:bold;font-size:12px;font-family:Tahoma;color: #fff;line-height:1;text-decoration:none !important;text-indent:10px}
/* util_menu */
@media all and (max-width: 1220px){
header{margin:0 10px}
}
.header_section{width:1200px;max-width:100%;margin:0 auto}
.util_menu{position:relative;z-index:1000;z-index:1001;font-size:0;text-align:right}
.util_menu li{display:inline-block}
.util_menu a{display:block;padding:0 6px;background:url(../images/btn_other_line.png) left center no-repeat;font-size:12px;line-height:40px;color:#c6c6c6}
.util_menu li:first-child a{padding:0 6px 0 0;background:none}
.util_menu li:last-child a{padding:0 0 0 6px}
/* 글로벌 네비게이션 */
.gnb_wrap{float:left;position:absolute;z-index:101;z-index:1003;width:1200px;max-width:100%}
.gnb_wrap.on{position:fixed;top:0;-webkit-transform:translateZ(0)}
.gnb_wrap h1{position:absolute;left:0}
.gnb{overflow:hidden;position:relative;height:100%;margin:0 60px;border-bottom:1px solid #e1e1e1;background:#fff;text-align:center}
.gnb a{display:block;height:59px;font-size:15px;line-height:59px;color:#666}
.gnb > li{display:block;float:left;width:12.5%}
.gnb > li > a{background:url(../images/gnb_line.gif) left center no-repeat}
.gnb > li:first-child > a{background:none}
.gnb > li > ul{display:none;height:288px;border-top:1px solid #c6c6c6}
.gnb > li > ul.on{display:block}
.gnb > li:first-child > ul{border-left:1px solid #c6c6c6}
.gnb > .bdr1 > ul{border-right:1px solid #c6c6c6}
.gnb > .bdr1 > a{display:block;border-right:1px solid #eee}
.gnb > li > ul > li{text-align:left}
.gnb > li > ul > li > a{height:auto;margin:0 10px;border-top:1px solid #e1e1e1;background:#fff;font-size:13px;line-height:40px}
.gnb > li > ul > li > a:hover{font-weight:bold;color:#666}
.gnb > li > ul > li:first-child a{border:0}
.srch{overflow:hidden;position:absolute;top:0;right:0}
.srch a{display:inline-block;width:60px;height:60px;border:1px solid #e1e1e1;border-top:0;border-left:0;background:#fff}
.srch.on{display:block}
.sitemap{display:none}
.request{display:none}
.m_gnb_wrap{display: none;}

@media all and (max-width: 1220px){
.gnb{margin:0 80px 0 60px}
.srch{right:10px;margin-right:10px}
}

/* 1023px util_menu */
@media all and (max-width: 1023px){
header{width:100%;margin:0}
.util_menu{display:none;position:fixed;top:0;left:0;z-index:1005;width:270px;height:51px;margin-left:-270px;background:#454345}
.util_menu a{background:none}
.util_menu.on{display:block}
.util_menu li{float:left;text-align:center}
.util_menu li:last-child{display:none}
.util_menu a{width:135px;height:51px;border-bottom:1px solid #000;border-left:1px solid #000;font-size:13px;line-height:50px;color:#fff}
.util_menu li:first-child a{border-left:0}
}

/* 1023px 네비게이션 */
@media all and (max-width: 1023px){
.gnb_wrap{display: none!important;}
.m_gnb_wrap{display: block;position: relative;}
.m_gnb_wrap h1{background: #454345;width: 100%;position: fixed;height: 50px;-webkit-transform:translateZ(0);z-index: 1003;}
.m_gnb_wrap h1 img{margin: 0 auto;width: 50px;height: 50px}
.m_gnb{background: #302f30;width: 270px;top:50px;bottom: 0;position: fixed;z-index: 1003;margin-left:-270px;overflow: auto;}
.m_gnb a{display:block;width:100%;padding:14px 0 14px 32px;border-bottom:1px solid #03070c;line-height:1;font-size:15px;font-weight:bold;color:#919191;text-align:left}
.m_gnb > li{display:block;width:100%;position: relative;z-index: 1004;}
.m_gnb > li > ul{display:none}
.m_gnb > li.on > ul{display: block;}
.m_gnb > li.on > a{border-bottom:2px solid #000;background:#222;color:#fff}
.m_gnb > li > ul > li > a{margin:0;border:0;background:#1b2126;line-height:1;font-size:13px;color:#fff;border-bottom: 1px solid #000;}
.nav_ico{position:absolute;top:15px;right:14px;width:13px;height:13px;background:url(../images/ico_sitemap_open2.png) center center no-repeat}
.m_gnb > li.on .nav_ico{background:url(../images/ico_sitemap_close2.png) center center no-repeat}
.sitemap{display:block;position:fixed;top:7px;left:3px;z-index:1004;width:44px;height:36px;border:0;background:url(../images/m_sitemap.png) center center no-repeat;background-size:50%;cursor:pointer}
.request{display:block;z-index:1002}
}

/* footer */
footer{margin:140px 10px 0;padding-bottom:15px}
.footer_wrap{position:relative;width:1200px;max-width:100%;margin:0 auto}
.footer_logo{position:absolute;top:0;left:0}
.footer_m_logo{display:none}
address{clear:both;margin-top:17px;font-size:11px;line-height:18px;color:#888;text-align:left}
address span{margin:0 4px}
.btn_sns_wrap{position:absolute;top:0;right:0}
.btn_sns_wrap li{float:left}
.input_request{display:none}
.footer_menu{height:60px;padding-left:82px;border:1px solid #ddd}
.footer_menu li{float:left}
.footer_menu a{display:block;padding:0 10px;background:url(../images/footer_menu_line.gif) center right no-repeat;line-height:58px;font-size:14px;color:#666}
.footer_menu li:last-child a{background:none}

/* 모바일 footer */
@media all and (max-width: 768px){
footer{margin:0 10px}
.footer_wrap{width:auto}
.footer_logo{display:none}
.footer_menu{display:none}
.footer_m_logo{display:block;margin-top:69px}
.footer_m_logo img{width:35px;margin:0 auto}
address{text-align:center}
.btn_sns_wrap{position:static;margin-top:15px}
.btn_sns_wrap li{float:left;width:20%}
.btn_sns_wrap li img{width:auto;margin:0 auto}
.btn_sns1{background:#ffca08}
.btn_sns2{background:#45649b}
.btn_sns3{background:#9cc729}
.btn_sns4{background:#3eae49}
.btn_sns5{background:#e85363}
.input_request{display:block;clear:both}
.input_request_area{height:124px;margin-top:9px;background:#444}
.input_request_area ul{margin:0 10px}
.input_request_area li{float:left;width:50%}
.input_request_area label{display:block;margin-top:14px;font-size:12px;font-weight:bold;color:#fff}
.input_request_area input{width:100%;height:35px;margin-top:11px;padding:0 10px;border:0;background:#6e6e6e;color:#fff}
.m03{margin:0 3px}
.btn_agree{clear:both;padding-top:18px;color:#fff;text-align:center}
.btn_agree input{width:auto;height:12px;margin:0}
.btn_agree span{position:relative;top:-3px;height:12px;margin-left:-5px;font-size:12px}
.btn_agree span a{color:#ff7200}
.submit input{width:100%;height:53px;border:0;background:#e85363;line-height:53px;font-size:15px;font-weight:bold;color:#fff;text-align:center;cursor:pointer}
}
.dark.on{position:fixed;top:0;z-index:1002;width:100%;height:100%;background:rgba(0, 0, 0, 0.4);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#40000000,endColorstr=#40000000)}
.dark.on02{position:fixed;top:0;z-index:1004;width:100%;height:100%;background:rgba(0, 0, 0, 0.75);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#75000000,endColorstr=#75000000)}