@charset "euc-kr";
@import url("https://fonts.googleapis.com/css?family=Roboto");
/* ******* */
/* 메인페이지 */

/* ****** */

/* 1023px 상담신청 */
@media all and (max-width: 1023px){
.request{position:fixed;width:100%;margin-top:50px;-webkit-transform:translateZ(0)}
.request li{float:left;width:25%;background-size:80px auto;text-align:center}
.request li a{display:block;height:65px;padding-top:42px;font-size:12px;line-height:12px;color:#fff}
.request1{background:#82aa15 url(../images/btn_m_request_icon01.png) center center no-repeat}
.request2{background:#d43e4e url(../images/btn_m_request_icon02.png) center center no-repeat}
.request3{background:#e49223 url(../images/btn_m_request_icon03.png) center center no-repeat}
.request4{background:#329cba url(../images/btn_m_request_icon04.png) center center no-repeat}
}

/* main_vis */
.main_vis_wrap{overflow:hidden;margin-top:-40px}
.main_vis{left:50%;width:1903px;height:770px;margin-left:-951.5px;margin-top:-41px}
.main_vis .slick-dots{display:inline;position:relative;left:892px;bottom:598px;z-index:1000}
.main_vis .slick-dots li{width:14px;height:14px}
.main_vis .slick-dots li button{width:14px;height:14px;background:url(../images/main_vis_dots1.png) no-repeat;background-position:center top}
.main_vis .slick-dots li.slick-active button{background-position:center bottom}
.main_vis .slick-prev,.main_vis .slick-next{display:none!important}

/* 1023px main_vis */
@media all and (max-width: 1023px){
.main_vis_wrap{margin-top:-0}
.main_vis{clear:both;height:550px;margin-left:-679.5px;margin-top:0}
.main_vis img{height:550px!important}
}

/* 639px main_vis */
@media all and (max-width: 639px){
.main_vis{height:385px;margin-left:-476px}
.main_vis img{height:385px!important}
}

/* case 사례 */
.case{overflow:hidden;margin-top:80px}
.case_lst{overflow:hidden;width:397px;margin:0 auto}
.case_lst li{float:left;width:25%;text-align:center}
.case_lst li.on a{color:#333}
.case_lst li.on span{background-position:center bottom}
.case_lst a{font-size:13px;line-height:13px;color:#888}
.case_lst span{display:block;width:50px;height:50px;margin:0 auto;margin-bottom:10px;background-position:center top;background-size:50px auto}
.case_lst1{background:url(../images/main_ex_tab01.png) no-repeat}
.case_lst2{background:url(../images/main_ex_tab02.png) no-repeat}
.case_lst3{background:url(../images/main_ex_tab03.png) no-repeat}
.case_lst4{background:url(../images/main_ex_tab04.png) no-repeat}
.case_slider{width:1210px;max-width:100%;margin:0 auto;margin-top:29px;padding:0 38px}
.case_slider .slick-prev{left:10px;width:23px;height:41px;background:url(../images/btn_slide_prev01.png) 0 0 no-repeat}
.case_slider .slick-next{right:10px;width:23px;height:41px;background:url(../images/btn_slide_next01.png) 0 0 no-repeat}
.case_slider_area{margin:0 5px}
.case_slider_area img{width:100%}
.case_slider_area a{display:block}
.case_txt{overflow:hidden;height:68px;border:1px solid #e1dcd6;border-top:none;text-align:center}
.case_txt .txt1{margin-top:16px;font-size:14px;color:#5e5c57}
.case_txt .txt2{margin-top:5px;font-size:13px;color:#5e5c57}

/* 639px case 사례 */
@media all and (max-width: 639px){
.case{margin-top:40px}
.case_lst{width:auto}
.case_lst li{width:25%}
.case_lst span{width:25px;height:25px;margin-bottom:10px;background-size:25px auto}
}

/* contents1 */
.contents1_wrap{margin-top:49px;margin-left:3px}
.contents1{overflow:hidden;width:1203px;max-width:100%;margin:0 auto}
.contents1 article{height:461px;max-height:100%}
.contents1 h2{margin-top:22px;font-size:20px;font-weight:bold;color:#444;text-align:center}
.contents1_area1{float:left;width:25%;border:1px solid #ddd}
.contents1_lst{margin-top:17px}
.contents1_lst ul{font-size:0;text-align:center}
.contents1_lst li{display:inline-block}
.contents1_lst li.on a{font-weight:bold;color:#666}
.contents1_lst a{padding:0 7px;background:url(../images/list_tab_line.gif) center left no-repeat;font-size:12px;color:#888}
.contents1_lst li:first-child a{background:none}
.contents1_txt img{width:100%;margin-top:21px}
.contents1_txt p{padding:11px 10px 0}
.contents1_txt p a{font-size:14px;line-height:20px;color:#444}
.contents1_txt ul{clear:both;padding:10px 0}
.contents1_txt ul a{display:block;overflow:hidden;margin:0 10px;border-bottom:1px solid #ced2d7;font-size:12px;line-height:33px;color:#888;white-space:nowrap;text-overflow:ellipsis}
.contents1_txt li:last-child a{border-bottom:none}
.contents1_area2{float:left;width:25%;margin-left:-1px;border:1px solid #ddd}
.contents1_area3{float:left;width:25%;margin-left:-1px;border:1px solid #ddd}
.contents1_area3 img{width:100%}
.consulting_lst li{float:left;position:relative;width:50%;text-align:center}
.consulting_lst li.on a{padding-bottom:10px;background:#fff;font-weight:bold;color:#666}
.consulting_lst li.on span{position:absolute;left:50%;bottom:-5px;width:11px;height:6px;margin-left:-5.5px;background:url(../images/planer_tab_arrow.gif) 0 0 no-repeat}
.consulting_lst a{display:block;height:45px;border-top:1px solid #dedddc;border-bottom:1px solid #dedddc;background:#f6f6f6;font-size:14px;line-height:45px;color:#888}
.consulting_lst li:first-child a{border-right:1px solid #dedddc}
.contents1_area4{float:left;width:25%;margin-left:-1px;border:1px solid #ddd}
.contents1_area4 img{width:100%}
@media all and (max-width: 1220px){
.contents1_wrap{margin:49px 7px 0 10px}
}

/* 1023px contents1 */
@media all and (max-width: 1023px){
.contents1 article{height:auto}
.contents1_wrap{margin:49px 9px 0 10px}
.contents1_txt ul a{margin:0 20px}
.contents1_txt p{padding:11px 20px 0}
.contents1_area1{width:50%}
.contents1_area2{float:left;width:50%;margin-left:-1px;border:1px solid #ddd}
.contents1_area3{float:left;width:50%;margin-top:-1px;margin-left:0;border:1px solid #ddd}
.contents1_area3 img{width:100%}
.consulting_lst li{float:left;position:relative;width:50%;text-align:center}
.consulting_lst li.on a{padding-bottom:10px;background:#fff}
.consulting_lst li.on span{position:absolute;left:50%;bottom:-5px;width:11px;height:6px;margin-left:-5.5px;background:url(../images/planer_tab_arrow.gif) 0 0 no-repeat}
.consulting_lst a{display:block;height:45px;border-top:1px solid #dedddc;border-bottom:1px solid #dedddc;background:#f6f6f6;font-size:14px;line-height:45px;color:#888}
.consulting_lst li:first-child a{border-right:1px solid #dedddc}
.contents1_area4{float:left;width:50%;margin-top:-1px;margin-left:-1px;border:1px solid #ddd}
.contents1_area4 img{width:100%}
.contents1_txt_area{height:200px}
.contents1_area3 .contents1_txt_area{height:182px}
.contents1_area4 .contents1_txt_area{height:182px}
}

/* 480px contents1 */
@media all and (max-width: 480px){
.contents1_wrap{margin:49px 10px 0}
.contents1_txt ul a{margin:0 10px}
.contents1_txt p a{margin:8px 10px 0}
.contents1_area1{width:100%}
.contents1_area2{width:100%;margin-top:-1px;margin-left:0}
.contents1_area3{width:100%;margin-top:-1px}
.contents1_area4{width:100%;margin-top:-1px;margin-left:0}
.contents1_txt_area{height:auto}
}

/* contents2,3 */
.contents2_wrap{overflow:hidden;width:1200px;max-width:100%;margin:0 auto;margin-top:49px}
.contents2{float:right;width:50%}
.contents2 a{display:block;margin-bottom:1px}
.contents2 img{width:100%}
.contents3{width:50%}
.contents3 li{float:left;width:50%}
.contents3 a{display:block;position:relative;padding-top:100%;border-right:1px solid #fff;background-size:cover}
.contents3 h3{position:absolute;top:31px;left:19px;font-size:16px;color:#333}
.contents3 p{position:absolute;top:53px;left:19px;font-size:12px;line-height:18px;color:#666}
.contents3_lst1 a{background-image:url(../images/contents3_img1.jpg)}
.contents3_lst2 a{background-image:url(../images/contents3_img2.jpg)}
.contents3_lst3 a{margin-top:1px;background-image:url(../images/contents3_img3.jpg)}
.contents3_lst4 a{margin-top:1px;background-image:url(../images/contents3_img4.jpg)}
@media all and (max-width: 1220px){
.contents2_wrap{width:auto;margin:49px 10px 0}
}

/* 모바일 contents2,3 */
@media all and (max-width: 640px){
.contents2_wrap{margin-top:25px}
.contents2{width:100%}
.contents3{width:100%}
.contents3 h3{top:15px;left:18px}
.contents3 p{top:39px;left:18px}
.contents3_lst2 a{border:0}
.contents3_lst4 a{border:0}
}
@media all and (max-width: 480px){
.contents3 h3{top:18px;left:11px}
.contents3 p{display:none}
}

/* *********** */

/* 회사소개 페이지 */

/* ********** */

/* 인사말 */
.about_wrap{margin-top:-40px;background:#1f1f1f}
.about_area{margin-right:50%}
.about{padding-bottom:251px;background:url(../images/info_visual_01.jpg) center center no-repeat;background-size:cover;-ms-behavior:url(../js/backgroundsize.min.htc);behavior:url(../js/backgroundsize.min.htc)}
.about h2{width:320px;margin:0 auto;padding-top:180px}
.about h2 img{width:100%}
.about .title{display:block;float:right;width:61px;height:22px;margin-top:108px}
.about p{clear:both;padding:20px 0 0;font-size:14px;line-height:22px;font-weight:bold;color:#8e8e8e;text-align:right}
.about p span{display:block;margin-top:15px;margin-right:140px}
.about p strong{display:inline-block;margin:-20px -140px 0 54px;padding:20px 82px 28px 0;background:url(../images/info_txt01.png) 63px 0 no-repeat;font-size:20px}

@media all and (max-width: 1023px){
.about_wrap{margin-top:0}
}

@media all and (max-width: 900px){
.about_area{margin-right:0}
.about{padding-bottom:51px}
.about h2{padding-top:180px}
.about .title{float:none;clear:both;margin:56px auto 0}
.about p{margin-top:20px;padding:0 10px;text-align:center}
}

@media all and (max-width: 640px){
.about{background:url(../images/info_visual_02.png) right bottom no-repeat}
.about h2{padding-top:142px}
.about .title{margin-top:35px}
.about p{text-align:left}
.about p .not{display:none}
.about p span{margin-right:0}
.about p strong{margin-right:0}
}

/* 브랜드소개 */
.brand h2{width:472px;margin:110px auto 0}
.brand h2 img{width:100%}
.brand h3{margin-top:27px;font-size:24px;font-family:'Roboto',sans-serif;color:#a6854a;letter-spacing:normal;text-align:center}
.brand .mt19{margin-top:19px}
.brand p{line-height:25px;font-size:16px;color:#444;text-align:center}
.brand_list{overflow:hidden;max-width:1001px;margin:0 auto;margin-top:46px;padding:0 10px}
.brand_list li{float:left;width:25%;margin-left:-2px;border:1px solid #e1dcd6;border-top:0;border-right:0;background:#fbfaf9;font-size:14px;box-sizing:content-box}
.brand_list li:first-child{margin-left:0}
.brand_list li:last-child{margin-left:-1px;border-right:1px solid #e1dcd6}
.brand .tit{height:65px;background:#fbfaf9}
.brand .tit p{padding-top:15px;font-size:12px;font-family:'Roboto',sans-serif;line-height:1;color:#fff;letter-spacing:normal}
.brand .tit p strong{display:block;padding-top:5px;font-size:18px;font-weight:700}
.brand .tit1{background:#9cc729}
.brand .tit2{background:#e85363}
.brand .tit3{background:#58c2e0}
.brand .tit4{background:#f1961b}
.brand_list .txt{min-height:217px}
.brand_list .txt p{margin-top:-4px;padding:15px;line-height:20px;font-size:13px;color:#888;text-align:left}
.brand_list .txt p strong{display:inline-block;margin-bottom:2px;font-size:14px;font-weight:bold;color:#444}

@media all and (max-width: 640px){
.brand h2{width:236px;margin:55px auto 0}
.brand h3{margin-top:11px;font-size:18px}
.brand .mt19{margin-top:11px}
.brand p{font-size:14px}
.brand_list{margin-top:19px}
.brand_list li{width:50%;border-right:1px solid #e1dcd6}
.brand_list li:nth-child(odd){margin-left:0;border-right:0}
.brand_list li:nth-child(even){margin-left:-3px}
.brand_list li:first-child{margin-left:0}

.brand_list .txt{min-height:auto}
}

/* 윤성이 걸어온 길 */
.history{margin-top:80px;padding-bottom:80px;background:#f2eeea}
.history h3{padding-top:116px;background:url(../images/history_h3.png) center bottom no-repeat;font-size:18px;color:#817059;text-align:center;text-indent:-99999px}
.history .tit_wrap{margin:0 10px}
.history .tit_wrap .tit{width:467px;height:126px;margin:52px auto 0;background:url(../images/history_tit.png) 0 0 no-repeat;font-size:16px;line-height:22px;color:#444;text-align:center;text-indent:-99999px}
.history .tit_wrap .tit strong{color:#e85363}
.history .tit_wrap .txt{max-width:580px;margin:20px auto 0;font-size:14px;line-height:20px;color:#666;text-align:center}
.history_list_wrap{overflow:hidden;max-width:540px;margin:42px auto 0;padding:0 10px}
.history_list_wrap li{float:left;width:50%;height:45px;border:1px solid #e1dcd6;background:#f5f2ef;text-align:center;cursor:pointer}
.history_list_wrap li:hover{background:#fff}
.history_list_wrap li a{font-size:16px;line-height:45px;color:#888}
.history_list_wrap li.on{background:#fff;color:#444}
.history_list_wrap li.on a{background:#fff;color:#444}
.history_list_wrap li:first-child{border-right:0}
.history .tab{overflow:hidden;position:relative}
.history .tab p{width:435px;height:58px;margin:25px auto 0;font-size:16px;line-height:22px;color:#444;text-align:center;text-indent:-99999px}
.history .history_list1 p{background:url(../images/history_txt01.png) center bottom no-repeat}
.history .history_list2 p{background:url(../images/history_txt02.png) center bottom no-repeat}
.history .history_contents{overflow:hidden;margin:41px 10px 0;padding-bottom:46px;background:url(../images/history_line.png) center 0 repeat-y}
.history .history_contents > li{float:left;width:50%;text-align:right}
.history .history_contents > li:nth-child(even) dl{margin-left:-8px;text-align:left}
.history .history_contents > li:first-child dl{margin-top:45px}
.history .history_contents > li:nth-child(2) dl{margin-top:217px}
.history .history_contents > li:nth-child(4) dl{margin-top:81px}
.history .history_contents dt{margin:0 -6px 0 0;padding-right:37px;background:url(../images/history_m_bg.png) right 10px no-repeat;font-family:'Roboto',sans-serif;font-size:36px;color:#444}
.history .history_contents > li:nth-child(even) dt{padding-left:38px;background-position:left 10px}
.history .history_contents dd{padding:0 31px 0 0;font-size:13px;line-height:20px;color:#888}
.history .history_contents > li:nth-child(even) dd{padding:0 0 0 39px;background-position:left 4px}
.history .history_contents dd ul{margin-top:9px}
.history_list2 .history_contents li:nth-child(2) dl{margin-top:181px}
.history_list2 .history_contents li:nth-child(4) dl{margin-top:96px}
.history_list2 .history_contents li:nth-child(6) dl{margin-top:86px}

@media all and (max-width: 768px){
.history h3{padding-top:98px;background:none;text-indent:0}
.history .tit_wrap .tit{width:auto;height:auto;background:none;text-indent:0}
.history .tit_wrap .txt{margin:18px auto 0}
.history .tab p{width:auto;height:auto;margin:25px 10px 0;background:none;text-indent:0}
}

@media all and (max-width: 640px){
.history{margin-top:40px;padding-bottom:40px}
.history h3{padding-top:53px}
.history .tit_wrap .tit{margin-top:27px;text-align:left}
.history .tit_wrap .txt{text-align:left}
.history .tab{position:relative}
.history .tab p{margin:10px 10px 0;text-align:left}
.history .history_contents{margin:20px 10px 0;padding-bottom:16px;background-position:15px 0}
.history .history_contents > li{clear:both;width:100%;text-align:left}
.history .history_contents > li:first-child dl{margin-top:31px}
.history .history_contents > li:nth-child(even) dl{margin:0}
.history .history_contents dt{margin-top:16px;padding-left:33px;background-position:8px 5px;font-size:24px}
.history .history_contents > li:nth-child(even) dt{background-position:8px 5px}
.history .history_contents dd{padding-left:33px}
}

/* 윤성의 사회공헌 */
.contrib h3{width:147px;height:24px;margin:110px auto 0;background:url(../images/contrib_h3.png) 0 0 no-repeat;text-indent:-99999px}
.contrib .tit{width:511px;height:59px;margin:50px auto 0;background:url(../images/contrib_tit01.gif) 0 0 no-repeat;text-indent:-99999px}
.contrib .txt{max-width:580px;margin:20px auto 0;font-size:14px;line-height:20px;color:#888;text-align:center}
.contrib01{overflow:hidden;max-width:1000px;margin:30px auto 0;background:#7aa30d}
.contrib01 .tit{width:519px;height:56px;margin:50px auto 0;background:url(../images/contrib01_tit.gif) 0 0 no-repeat;text-indent:-99999px}
.contrib01 .tit .none{display:none}
.contrib01 .txt01{width:680px;margin:20px auto 0}
.contrib01 .txt01 img{width:100%}
.contrib01_area01{margin-top:29px;padding-bottom:19px;text-align:center}
.contrib01_area01 .txt02{width:630px;margin:0 auto 8px;font-size:14px;line-height:20px;color:#fff}
.contrib01_area02{overflow:hidden;margin-top:23px;background:#557209}
.contrib01_area02 li{float:left;width:50%;background:url(../images/contrib01_icon01.gif) 30px 30px no-repeat;color:#fff}
.contrib01_area02 li:last-child{border-left:1px solid #7aa30d;background:url(../images/contrib01_icon02.gif) 30px 30px no-repeat}
.contrib01_area02 .tit{width:auto;height:auto;margin:33px 0 0 110px;padding-right:10px;background:none;line-height:22px;text-align:left;text-indent:0}
.contrib01_area02 .txt{margin:2px 0 0 110px;padding:0 10px 30px 0;font-size:14px;line-height:22px;color:#bfcb9f;text-align:left}
.contrib02 .tit{margin-top:30px;font-size:16px;color:#444;text-align:center}
.contrib02_area{overflow:auto;max-width:1000px;height:100%;margin:15px auto 0;background:#fbfaf9}
.contrib02_area li{border:1px solid #e2ddd8}
.contrib02_area li:first-child{border-bottom:none}
.contrib02_area .bg01{display:block;float:left;width:248px;margin-right:20px;background-size:cover;background:url(../images/contrib02_bg01.png) center center no-repeat;-ms-behavior:url(../js/backgroundsize.min.htc);behavior:url(../js/backgroundsize.min.htc)}
.contrib02_area .bg02{display:block;float:left;width:248px;margin-right:20px;background-size:cover;background:url(../images/contrib02_bg02.png) center center no-repeat;-ms-behavior:url(../js/backgroundsize.min.htc);behavior:url(../js/backgroundsize.min.htc)}
.contrib02_area .tit{margin:0;padding-top:14px;font-size:14px;line-height:24px;font-weight:bold;color:#444;text-align:left}
.contrib02_area .tit span{font-weight:normal;color:#b38b50}
.contrib02_area .txt{margin:5px 10px 0 0;font-size:13px;line-height:20px;color:#666;text-align:left}
.contrib02_area button{width:102px;height:34px;margin:5px 0 19px;border:1px solid #d2d1d1;background:#fff;line-height:34px;font-size:13px;color:#888;cursor:pointer}

@media all and (max-width: 1040px){
.contrib01{margin:30px 10px 0}
.contrib02_area{margin:15px 10px 0}
}

@media all and (max-width: 768px){
.contrib h3{width:auto;height:auto;margin-top:106px;background:none;font-size:18px;color:#817059;text-align:center;text-indent:0}
.contrib .tit{width:auto;height:auto;margin:28px 10px 0;background:none;font-size:16px;line-height:22px;color:#444;text-align:center;text-indent:0}
.contrib01{margin:30px 10px 0}
.contrib01 .tit{width:auto;height:auto;margin-top:50px;background:none;font-size:16px;line-height:22px;color:#fff;text-align:center;text-indent:0}
.contrib01 .tit span{color:#ffe400}
.contrib01 .tit .none{display:block}
.contrib01 .txt01{width:auto;margin:20px 10px 0}
.contrib01_area01 .txt02{width:auto;margin:0 10px 8px}
.contrib01_area02{margin-top:21px}
.contrib01_area02 .tit{margin:33px 0 0 110px;padding-right:10px;text-align:left}
.contrib02_area{margin:15px 10px 0}
.contrib02_area li{border:1px solid #e2ddd8}
.contrib02_area li:first-child{border-bottom:none}
}

@media all and (max-width: 640px){
.contrib h3{margin-top:55px}
.contrib .tit{margin:25px 10px 0;text-align:left}
.contrib .txt{margin:20px 10px 0;text-align:left}
.contrib01{margin:15px 10px 0}
.contrib01 .tit{margin:20px 10px 0;text-align:left}
.contrib01 .txt01{margin:15px 10px 0}
.contrib01_area01{margin-top:15px;padding-bottom:0;text-align:left}
.contrib01_area02 li{clear:both;width:100%;background-size:31px 31px;background-position:15px 15px}
.contrib01_area02 li:first-child{border-bottom:1px solid #7aa30d}
.contrib01_area02 li:last-child{border-left:none;background-size:31px 31px;background-position:15px 15px}
.contrib01_area02 .tit{margin:15px 0 0 55px}
.contrib01_area02 .txt{margin-left:55px;padding-bottom:15px}
.contrib02 .tit{margin-left:10px;text-align:left}
.contrib02_area{margin:9px 10px 0}
.contrib02_area .bg01{width:120px;margin-right:10px}
.contrib02_area .bg02{float:left;width:120px;margin-right:10px}
.contrib02_area .tit{margin:0;padding-top:10px}
}

@media all and (max-width: 479px){
.contrib02_area li{padding:0 10px}
.contrib02_area .bg01{display:none}
.contrib02_area .bg02{display:none}
.contrib02_area .txt{margin-right:0}
.contrib02_area button{width:100%}
}

/* 조직도 */
.organize_wrap{overflow:hidden;margin-top:80px;padding:0 10px 80px;background:#f2eeea}
.organize_wrap h3{width:62px;height:23px;margin:110px auto 0;background:url(../images/organize_h3.png) 0 0 no-repeat;text-indent:-99999px}
.organize_wrap .tit{width:408px;height:59px;margin:50px auto 0;background:url(../images/organize_tit.gif) 0 0 no-repeat;text-indent:-99999px}
.organize_wrap .txt{max-width:580px;margin:20px auto 0;padding:0 20px;font-size:14px;line-height:20px;color:#888;text-align:center}
.organize_wrap .organize{width:762px;margin:30px auto 0}
.organize_wrap .organize img{width:100%}

@media all and (max-width: 768px){
.organize_wrap h3{width:auto;height:auto;margin-top:108px;padding:0 10px 38px;background:none;font-size:18px;color:#817059;text-align:center;text-indent:0}
.organize_wrap .tit{width:auto;height:auto;margin-top:48px;background:none;font-size:16px;line-height:22px;color:#444;text-align:center;text-indent:0}
.organize_wrap .organize{width:auto}
}

@media all and (max-width: 640px){
.organize_wrap{margin-top:40px}
.organize_wrap h3{margin-top:52px}
.organize_wrap .tit{margin-top:25px;text-align:left}
.organize_wrap .txt{text-align:left}
}

/* 인재채용 */
.recruit_wrap{overflow:hidden;padding:0 10px 80px;background:url(../images/recruit_bg.jpg) center center no-repeat;background-size:cover;-ms-behavior:url(../js/backgroundsize.min.htc);behavior:url(../js/backgroundsize.min.htc)}
.recruit01 h3{width:81px;height:24px;margin:110px auto 0;background:url(../images/recruit_h301.png) 0 0 no-repeat;text-indent:-99999px}
.recruit01 .tit{width:258px;height:24px;margin:51px auto 0;background:url(../images/recruit_tit01.png) 0 0 no-repeat;text-indent:-99999px}
.recruit01 .txt01{margin-top:23px;font-size:14px;color:#bbb;text-align:center}
.recruit01_list{width:672px;margin:17px auto 0;font-size:0}
.recruit01_list li{display:inline-block;width:152px;height:152px;margin:13px 8px 0;padding-top:55px;font-size:14px;color:#bbb;text-align:center}
.recruit01_list li .num{padding-bottom:5px;font-size:18px;font-weight:700;color:#c9c9c9;letter-spacing:normal}
.recruit01_list li:first-child{background:url(../images/recruit_icon01.png) 0 0 no-repeat}
.recruit01_list li:nth-child(2){background:url(../images/recruit_icon02.png) 0 0 no-repeat}
.recruit01_list li:nth-child(3){background:url(../images/recruit_icon03.png) 0 0 no-repeat}
.recruit01_list li:last-child{background:url(../images/recruit_icon04.png) 0 0 no-repeat}
.recruit01 .txt02{margin-top:36px;font-size:14px;line-height:20px;color:#bbb;text-align:center}
.recruit01 .txt03{margin-top:10px;font-size:14px;color:#bbb;text-align:center}
.recruit01 .txt03 span{color:#cba781;letter-spacing:normal}
.recruit02 h3{width:61px;height:24px;margin:80px auto 0;background:url(../images/recruit_h302.png) 0 0 no-repeat;text-indent:-99999px}
.recruit02_list{overflow:hidden;max-width:1000px;margin:20px auto 0}
.recruit02_list li{float:left;width:20%;height:168px;border:1px solid #373737;background:rgba(0, 0, 0, 0.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50000000,endColorstr=#50000000)}
.recruit02_list li .tit{margin:20px 0 0;font-size:24px;color:#cba781;text-align:center}
.recruit02_list li .txt{margin:15px 0 0;padding-bottom:25px;font-size:13px;line-height:20px;color:#aaa;text-align:center}
.recruit02_area{overflow:hidden;margin-top:30px}
.recruit02_area .tit{margin-top:18px;font-size:16px;color:#fff;text-align:center}
.recruit02_area .txt{margin-top:5px;font-size:14px;line-height:22px;color:#bbb;text-align:center}

@media all and (max-width: 713px){
.recruit_wrap{padding:0 10px 39px;}
.recruit01 h3{width:auto;height:auto;margin-top:108px;background:none;font-size:18px;color:#cec5aa;text-align:center;text-indent:0}
.recruit01 .tit{width:auto;height:auto;margin-top:51px;background:none;font-size:16px;color:#fff;text-align:center;text-indent:0}
.recruit01_list{width:504px;}
.recruit01_list li:last-child{display:block;margin:13px auto 0;background:url(../images/recruit_icon04.png) 0 0 no-repeat}
.recruit02 h3{width:auto;height:auto;margin-top:78px;background:none;font-size:18px;color:#cec5aa;text-align:center;text-indent:0}
.recruit02_list{margin-top:50px}
}

@media all and (max-width: 640px){
.recruit01 h3{margin-top:55px}
.recruit01 .tit{margin-top:27px;text-align:left}
.recruit01 .txt01{margin-top:23px;text-align:left}
.recruit01 .txt02{text-align:left}
.recruit01 .txt03{text-align:left}
.recruit02 h3{margin-top:39px}
.recruit02_list li{width:50%}
.recruit02_list li:nth-child(3){height:168px}
.recruit02_list li:nth-child(4){height:168px}
.recruit02_list li .tit{margin:18px 0 0 10px;text-align:left}
.recruit02_list li .txt{margin:15px 0 0 10px;text-align: left;}
.recruit02_area{margin-top:6px}
.recruit02_area .tit{text-align:left}
.recruit02_area .txt{text-align:left}
}

@media all and (max-width: 540px){
.recruit01_list{width:340px}
.recruit01_list li:last-child{display:inline-block;margin:13px 8px 0;background:url(../images/recruit_icon04.png) 0 0 no-repeat}
}

@media all and (max-width: 479px){
.recruit01_list{width:414px;margin:14px auto 0}
.recruit01_list li{width:122px;height:122px;padding-top:40px}
.recruit01_list li:first-child{background:url(../images/recruit_m_icon01.png) 0 0 no-repeat}
.recruit01_list li:nth-child(2){background:url(../images/recruit_m_icon02.png) 0 0 no-repeat}
.recruit01_list li:nth-child(3){background:url(../images/recruit_m_icon03.png) 0 0 no-repeat}
.recruit01_list li:last-child{display:block;margin:13px 8px 0;background:url(../images/recruit_m_icon04.png) 0 0 no-repeat}
}

@media all and (max-width: 444px){
.recruit01_list{width:276px;margin:14px auto 0;font-size:0}
.recruit01_list li:last-child{display:inline-block}
}

/* 전시장 소개 */
.map_wrap{overflow: hidden;padding: 0 10px}
.map01 h3{width: 105px;height: 24px;margin: 110px auto 0 auto;text-indent: -99999px;background: url(../images/map01_h3.png) 0 0 no-repeat;}
.map01 .txt{margin-top: 20px;text-align: center;font-size: 14px;line-height: 22px;color: #888;}
.map01 img{max-width: 1000px;margin: 20px auto 0 auto;width: 100%;}
.map02_wrap .txt{margin-top: 60px;text-align: center;font-size: 14px;line-height: 20px;color: #888;}
.map02_wrap .txt span{color: #e85363;}
.map02 {width: 620px;height: 421px;margin: 20px auto 0;background: url(../images/map02_bg.gif) 0 0 no-repeat;position: relative;}
.map02_list li{position: absolute;width: 46px;height: 46px;background: url(../images/map02_list_icon1.png) 0 0 no-repeat;text-align: center;line-height: 46px;}
.map02_list li:hover{background: url(../images/map02_list_icon2.png) 0 0 no-repeat;}
.map02_list li a{font-size: 24px;font-weight: 700;color: #fff;display: block;}
.map02_list li:first-child{right: -16px;bottom: 17px;}
.map02_list li:nth-child(2){right: 185px;bottom: 73px;}
.map02_list li:nth-child(3){left: 87px;bottom: 73px}
.map02_list li:nth-child(4){left: 87px;bottom: 164px}
.map02_list li:nth-child(5){left: 230px;top: 96px;}
.map02_list li:last-child{right: 93px;top: 50px;}
.map02_cont{overflow: hidden;position: fixed;top:50%;left:50%;margin: -365px 0 0 -500px;z-index: 1011;}
.map02_cont .tit01{width: 74px;height: 74px;margin: 0 auto 10px auto;line-height: 74px;font-size: 38px;color: #fff;background: url(../images/map02_list_icon3.png) 0 0 no-repeat;text-align: center;}
.map02_cont .tit02{font-size: 18px;color: #fff;text-align: center;margin-bottom: 10px;}
.map02_cont .close{margin: 20px auto 0 auto;width: 36px;}
.map02_cont img{width: 100%;}
@media all and (max-width: 1060px){
.map02_cont{top:50%;margin:0 48px;left:0;transform: translate(0 , -50%);-ms-transform: translate(0 , -50%);-webkit-transform: translate(0 , -50%);} 
}