@charset "euc-kr";
@import url("reset.css");
@import url("https://fonts.googleapis.com/earlyaccess/nanumgothic.css");
*{box-sizing:border-box}
body{overflow-x:hidden}
body,a{font-family:'Nanum Gothic'}
.blind{overflow:hidden;font-size:1px;line-height:1px;text-indent:-1000000px}

/* util_menu */
@media all and (max-width: 1220px){
header{margin:0 10px}
}
.header_section{width:1200px;max-width:100%;margin:0 auto}
.util_menu{position:relative;z-index:1000;font-size:0;text-align:right}
.util_menu li{display:inline-block}
.util_menu a{display:block;padding:0 6px;background:url(../images/btn_other_line.png) left center no-repeat;font-size:12px;line-height:40px;color:#c6c6c6}
.util_menu li:first-child a{padding:0 6px 0 0;background:none}
.util_menu li:last-child a{padding:0 0 0 6px}

/* 글로벌 네비게이션 */
nav{overflow:hidden;float:left;position:absolute;z-index:101;width:1200px;max-width:100%}
nav.on{position:fixed;top:0}
nav h1{position:absolute;left:0}
.gnb{overflow:hidden;position:relative;height:100%;margin:0 60px;background:#fff;text-align:center}
.gnb a{display:block;font-size:15px;line-height:60px;color:#666;letter-spacing:-1px}
.gnb > li{display:block;float:left;width:12.5%}
.gnb > li > a{background:url(../images/gnb_line.gif) left center no-repeat}
.gnb > li:first-child > a{background:none}
.gnb > li:last-child > a{border-right:1px solid #e1e1e1;box-sizing:border-box}
.gnb > li > ul{display:none;height:288px;border-top:1px solid #c6c6c6;border-bottom:1px solid #c6c6c6;box-sizing:border-box}
.gnb > li > ul.on{display:block!important}
.gnb > li:first-child > ul{border-left:1px solid #c6c6c6}
.gnb > .bdr1{border-right:1px solid #c6c6c6}
.gnb > li > ul > li{text-align:left}
.gnb > li > ul > li > a{margin:0 10px;border-top:1px solid #e2e2e2;background:#fff;font-size:13px;line-height:40px}
.gnb > li > ul > li > a:hover{font-weight:bold;color:#666}
.gnb > li > ul > li:first-child a{border:0}
.srch{position:absolute;top:0;right:0}
.srch a{display:inline-block;background:#fff}
.srch.on{display:block}
.sitemap{display:none}
.gnb .close{display:none}
.request{display:none}

@media all and (max-width: 1220px){
.gnb{margin:0 80px 0 60px}
.srch{right:10px;margin-right:10px}
}

/* 1023px util_menu */
@media all and (max-width: 1023px){
header{width:100%;margin:0}
.util_menu{display:none;position:fixed;top:0;left:0;z-index:1002;width:270px;height:51px;margin-left:-270px;background:#454345}
.util_menu a{background:none}
.util_menu.on{display:block}
.util_menu li{float:left;text-align:center}
.util_menu li:last-child{display:none}
.util_menu a{width:135px;height:51px;border-bottom:1px solid #000;border-left:1px solid #000;font-size:13px;line-height:50px;color:#fff}
.util_menu li:first-child a{border-left:0}
}

/* 1023px 네비게이션 */
@media all and (max-width: 1023px){
.m_nav{left:0;width:100%;height:100%;margin-left:-270px}
.m_nav.on{position:fixed;z-index:1000}
nav{overflow:visible;clear:both;position:static;width:auto;}
nav.on{position:static}
nav h1{position:static;width:100%;height:51px;margin-left:270px}
nav h1 a{display:block;position:fixed;z-index:1000;width:100%;height:51px;background:#454345}
nav h1 img{width:50px;height:50px;margin:0 auto}
.gnb{display:block;display:none;overflow:visible;overflow:auto;width:270px;height:100%;margin:0;padding-bottom:100px;background:#302f30}
.gnb.on{display:block}
.gnb a{display:block;width:100%;padding:14px 0 14px 32px;border-bottom:1px solid #03070c;line-height:1;font-size:15px;font-weight:bold;color:#919191;text-align:left}
.gnb > li{display:block;clear:both;position:relative;width:100%}
.gnb > li > a{background:none}
.gnb > li:last-child > a{border:0}
.gnb > li > ul{height:auto;border:0}
.gnb > li:first-child > ul{border:0}
.gnb > li > ul > li > a{margin:0;border:0;background:#1b2126;line-height:1;font-size:13px;color:#fff}
.srch{position:static}
.gnb > .bdr1{border:0}
.gnb > li > ul{display:none}
.nav_ico{position:absolute;top:15px;right:14px;width:13px;height:13px;background:url(../images/ico_sitemap_open2.png) center center no-repeat}
.gnb > li.on > ul{display:block}
.gnb > li.on > a{border-bottom:2px solid #000;background:#222;color:#fff}
.gnb > li.on .nav_ico{background:url(../images/ico_sitemap_close2.png) center center no-repeat}
.sitemap{position:fixed;top:7px;left:3px;z-index:1001;width:44px;height:36px;border:0;background:url(../images/m_sitemap.png) center center no-repeat;background-size:50%;cursor:pointer}
.srch{display:none}
.sitemap{display:block}
.gnb .close{display:block}
.request{display:block}
}

/* 1023px 상담신청 */
@media all and (max-width: 1023px){
.request{position:fixed;z-index:100;width:100%;margin-top:51px}
.request li{float:left;width:25%;background-size:80px auto;text-align:center}
.request li a{display: block;height:65px;padding-top:42px;font-size:12px;line-height:12px;color:#fff;letter-spacing:-1px}
.request1{background:#82aa15 url(../images/btn_m_request_icon01.png) center center no-repeat}
.request2{background:#d43e4e url(../images/btn_m_request_icon02.png) center center no-repeat}
.request3{background:#e49223 url(../images/btn_m_request_icon03.png) center center no-repeat}
.request4{background:#329cba url(../images/btn_m_request_icon04.png) center center no-repeat}
}

/* main_vis */
.main_vis .bx-viewport{overflow:visible!important;}
.main_vis{position:relative;height:770px;margin-top:-41px}
.main_vis img{position:absolute;top:0;left:50%;width:1903px;height:770px;margin-left:-951.5px}
.main_vis .bx-controls-auto,.main_vis .bx-controls-direction{visibility:hidden!important}
.main_vis .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{position:absolute;top:140px;z-index: 100;left:50%;margin-left:-55px;padding-top:0}
.main_vis .bx-wrapper .bx-pager.bx-default-pager a{width:14px}

/* 1023px main_vis */
@media all and (max-width: 1023px){
.main_vis{height:550px;margin-top:0}
.main_vis img{width:auto;height:550px;margin-left:-679.5px}
.main_vis .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager{display:none}
}
/* 639px main_vis */
@media all and (max-width: 639px){
.main_vis{height:385px}
.main_vis img{height:385px;margin-left:-476px}
}

/*  case 사례 */
.case{margin-top:80px;overflow: hidden;}
.case_lst{width: 397px;margin: 0 auto;}
.case_lst li{float:left;width:25%;text-align:center}
.case_lst li.on a{color: #333;}
.case_lst li.on span{background-position: center bottom;}
.case_lst a{font-size:13px;line-height:13px;color:#888;letter-spacing:-1px}
.case_lst span{display: block;margin: 0 auto;margin-bottom: 10px;width: 50px;height: 50px;background-position: center top;background-size:50px auto;}
.case_lst1 {background:url(../images/main_ex_tab01.png) no-repeat;}
.case_lst2 {background:url(../images/main_ex_tab02.png) no-repeat;}
.case_lst3 {background:url(../images/main_ex_tab03.png) no-repeat;}
.case_lst4 {background:url(../images/main_ex_tab04.png) no-repeat;}


.case_slider .bx-wrapper .bx-prev{width: 23px;height: 41px;background: url(../images/btn_slide_prev01.png) 0 0 no-repeat;left:-10px;background-size: cover;}
.case_slider img{width: 100%;}

/* 639px 사례 */
@media all and (max-width: 639px){
.case{margin-top: 40px;}
.case_lst{margin:0 20px}
.case_lst li{width:25%;}
.case_lst span{margin-bottom: 10px;width: 25px;height: 25px;background-size:25px auto;}
}