@charset "euc-kr";
@import url("reset.css");
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;font-family:'Noto Sans KR',sans-serif;}

/* header */
header{overflow:hidden}
.top_menu_wrap{overflow:hidden;width:100%;height:40px;background:#004795}
.top_menu{margin:8px 25px 0;text-align:center}
.top_menu li{float:left;width:33.3%;height:32px}
.top_menu li:first-child{border-radius:4px 4px 0 0;background:#fff}
.top_menu li a{display:block;font-size:12px;font-weight:700;line-height:32px;color:#fff}
.top_menu li:first-child a{color:#004795}
.header{height:46px;border-bottom:1px solid #d4d4d4}
.logo{float:left;margin:9px 0 0 25px}
.logo a{display:block}
.logo img{width:101px;height:29px}
.gnb_open{float:right;width:29px;height:20px;margin:13px 25px 0 0;background:url(../images/btn_list.png) 0 0 no-repeat;background-size:cover;-webkit-background-size:cover}
.gnb_close{display:none;float:right;width:29px;height:20px;margin:13px 25px 0 0;background:url(../images/btn_close.png) 0 0 no-repeat;background-size:cover;-webkit-background-size:cover}
.gnb{clear:both;display: none;}
.gnb > li{position: relative;overflow: hidden;}
.gnb > li > a{display:block;height:55px;padding-left:24px;border-bottom:1px solid #d4d4d4;font-size:18px;font-weight:700;line-height:55px;color:#2a5dc4}
.gnb > li > a:after{position:absolute;top:14px;right:23px;width:28px;height:28px;background:url(../images/icon_down.png) 0 0 no-repeat;-webkit-background-size: cover;background-size: cover;content:''}
.gnb > li.on > a:after{position:absolute;top:14px;right:23px;width:28px;height:28px;background:url(../images/icon_up.png) 0 0 no-repeat;-webkit-background-size: cover;background-size: cover;content:''}
.gnb > li:nth-child(2) > a{color:#47587e}
.gnb > li:last-child > a{color:#a48738}
.gnb_area_wrap{display:none;padding: 0 16px 74px 16px;background: #f8f8f8;overflow: hidden;border-bottom: 1px solid #ccc;}
.gnb > li:first-child > .gnb_area_wrap{display:block;}
.gnb_area{float: left;width: 50%;}
.gnb_area dl{padding: 23px 16px 0 16px;}
.gnb_area dt{padding-bottom: 12px;color: #333;font-size: 13px;font-weight: 700;display: block;border-bottom: 1px solid #000;}
.gnb_area dd a{font-size: 13px;color: #333;font-size: 13px;display: block;line-height: 41px;border-bottom: 1px solid #dfdfdf;}

/* 메인 슬라이드*/
.main_vis_wrap{overflow: hidden;}
/*.slick-arrow{display: none!important;}*/
.main_vis_wrap img{width: 100%;}

/* 바로가기 메뉴 */
.util_menu{overflow: hidden;}
.util_menu li{float: left;width: 25%;background: #004795 url(../images/blt_bn_bar.png) left center no-repeat;}
.util_menu li:first-child{background-image: none;}
.util_menu li a{padding-top: 58px;height: 87px;display: block;text-align: center;font-size: 12px;color: #fff;background: url(../images/ico_ckd_company.png) center 16px no-repeat;-webkit-background-size: 28px 32px;background-size: 28px 32px;}
.util_menu li:nth-child(2) a{background-image: url(../images/ico_ckd_lab.png);-webkit-background-size: 18px 33px;background-size: 18px 33px;}
.util_menu li:nth-child(3) a{background-image: url(../images/ico_ckd_news.png);-webkit-background-size: 32px 29px;background-size: 32px 29px;}
.util_menu li:nth-child(4) a{background-image: url(../images/ico_ckd_pharm.png);-webkit-background-size: 22px 31px;background-size: 22px 31px;}

/* 제품검색 */
.search_wrap{background: #f0f4f8;overflow: hidden;padding: 0 25px;}
.search_wrap h2{margin: 23px 0 0 0;font-size: 14px;color: #000;font-weight: 700;}
.search_form{position: relative;margin-top: 22px;}
.search{padding-left: 10px;width: 100%;height: 48px;border: 5px solid #5f88b8;}
.search_btn{top:9px;right: 11px;position: absolute;width: 29px;height: 30px;background: url(../images/ico_reading_glasses.png) 0 0 no-repeat;border: none;-webkit-background-size: cover;background-size: cover;}
.search_list li{margin-top: 22px;float: left;width: 25%;text-align: center;}
.search_list li a{padding-top: 60px;font-size: 12px;color: #2d3f55;display: block;height: 94px;background: url(../images/ico_ckd_cold.png) center 0 no-repeat;-webkit-background-size: 52px 52px;background-size: 52px 52px;}

/* 제품소개 */
.intro_wrap{overflow: hidden;padding: 0 25px;}
.intro_wrap h2{margin: 23px 0 0 0;font-size: 14px;color: #000;font-weight: 700;}
.intro_area{margin-top: 23px;}
.intro_wrap .intro_img{display: block;max-width: 1334px;height: 140px;margin: 0 auto;border-bottom: 1px solid #000;}
.intro_wrap .intro_img img{height: 100%;margin: 0 auto;}
.slick-arrow{background: #000;}

img{width: 100%;}