@charset "euc-kr";
@import url("reset.css");
body{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}

/* header */
header{overflow:hidden}
.top_menu_wrap{overflow:hidden;width:100%;height:40px;background:#004795}
.top_menu{margin:8px 25px 0;text-align:center}
.top_menu li{float:left;width:33.3%;height:32px}
.top_menu li:first-child{border-radius:4px 4px 0 0;background:#fff}
.top_menu li a{display:block;font-size:12px;font-family:'Noto Sans KR',sans-serif;font-weight:700;line-height:32px;color:#fff}
.top_menu li:first-child a{color:#004795}
.header{height:46px;border-bottom:1px solid #d4d4d4}
.logo{float:left;margin:9px 0 0 25px}
.logo a{display:block}
.logo img{width:101px;height:29px}
.gnb_open{float:right;width:29px;height:20px;margin:13px 25px 0 0;background:url(../images/btn_list.png) 0 0 no-repeat;background-size:cover;-webkit-background-size:cover}
.gnb_close{display:none;float:right;width:29px;height:20px;margin:13px 25px 0 0;background:url(../images/btn_close.png) 0 0 no-repeat;background-size:cover;-webkit-background-size:cover}
.gnb{clear:both;display: none;}
.gnb > li{position: relative;overflow: hidden;}
.gnb > li > a{display:block;height:55px;padding-left:24px;border-bottom:1px solid #d4d4d4;font-size:18px;font-weight:700;line-height:55px;color:#2a5dc4}
.gnb > li > a:after{position:absolute;top:14px;right:23px;width:28px;height:28px;background:url(../images/icon_down.png) 0 0 no-repeat;-webkit-background-size: cover;background-size: cover;content:''}
.gnb > li.on > a:after{position:absolute;top:14px;right:23px;width:28px;height:28px;background:url(../images/icon_up.png) 0 0 no-repeat;-webkit-background-size: cover;background-size: cover;content:''}
.gnb > li:nth-child(2) > a{color:#47587e}
.gnb > li:last-child > a{color:#a48738}
.gnb_area_wrap{display:none;padding: 0 16px 74px 16px;background: #f8f8f8;overflow: hidden;border-bottom: 1px solid #ccc;}
.gnb > li:first-child > .gnb_area_wrap{display:block;}
.gnb_area{float: left;width: 50%;font-family:'Noto Sans KR',sans-serif;}
.gnb_area dl{padding: 23px 16px 0 16px;}
.gnb_area dt{padding-bottom: 12px;color: #333;font-size: 13px;font-weight: 700;display: block;border-bottom: 1px solid #000;}
.gnb_area dd a{font-size: 13px;color: #333;font-size: 13px;display: block;line-height: 41px;border-bottom: 1px solid #dfdfdf;}

img{width: 100%;}