@charset "euc-kr";
@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("http://fonts.googleapis.com/earlyaccess/notosanskr.css");
*{box-sizing:border-box}

/* Noto Sans KR (Korean) */
header{overflow:hidden;height:850px;padding-top:60px;background:#23232e url(../images/arrow.png) center 755px no-repeat;font-family:'Open Sans';text-align:center}
header .logo{width:74px;margin:109px auto 0}
header .tit{margin-top:153px;font-size:80px;font-weight:700;color:#fff}
header .name{margin-top:51px;font-size:36px;font-weight:400;color:#fff}
header .tel{margin-top:10px;font-size:14px;color:#fff}
nav{position:fixed;top:0;width:100%;height:60px;border-bottom:1px solid #e9e9e9;background:#fff}
nav ul{width:300px;margin:0 auto}
nav li{float:left;width:100px}
nav li a{font-size:18px;line-height:60px;color:#23232e}
nav li a:hover{color:#7b77c9}

@media all and (max-width: 1279px){
header{height:425px;background-position:center 377px;background-size:25px 25px}
header .logo{width:37px;margin:54px auto 0}
header .logo img{width:100%}
header .tit{margin-top:76px;padding:0 10px;font-size:40px}
header .name{margin-top:25px;font-size:18px}
}

.skill_wrap{overflow:hidden;padding-bottom:143px;background:url(../images/skill_bg.png) center center no-repeat}
.skill_wrap h2{margin-top:113px;font-family:'Open Sans';font-size:80px;font-weight:700;color:#464b4f;text-align:center}
.skill{width:940px;margin:0 auto}
.skill li{float:left;width:33.3%;padding:0 10px;font-family:'Noto Sans KR';text-align:center}
.skill li .tit{margin-top:100px;font-size:30px;font-weight:bold;color:#464b4f}
.skill li .txt{margin-top:13px;font-size:14px;line-height:20px;color:#888a8b}

@media all and (max-width: 1279px){
.skill_wrap{padding-bottom:71px}
.skill_wrap h2{margin-top:56px;font-size:40px}
.skill{width:auto}
.skill li .tit{margin-top:50px;font-size:20px}
.skill li .txt{margin-top:7px}
}

@media all and (max-width: 639px){
.skill li{width:100%}
.skill li .tit{margin-top:20px}
.skill li:first-child .tit{margin-top:49px}
}

.work_wrap{overflow:hidden;padding-bottom:107px;background:#23232e;text-align:center}
.work_wrap h2{margin-top:113px;font-family:'Open Sans';font-size:80px;font-weight:700;color:#fff;text-align:center}
.work_wrap .txt{display:inline-block;margin-top:58px;padding-bottom:7px;border-bottom:2px solid #7b77c9;font-family:'Noto Sans KR';font-size:14px;color:#fff;text-align:center}
.work{width:940px;margin-top:52px;margin:0 auto}
.work_list{margin-top:52px}
.work_list li{float:left;position:relative;width:300px;height:300px;margin:0 0 20px 20px;background:#7b77c9}
.work_list li:first-child{margin-left:0}
.work_list li .work_area{display:none;position:absolute;top:0;width:300px;height:300px;background:rgba(0, 0, 0, 0.9);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#90000000,endColorstr=#90000000)}
.work_list li:hover .work_area{display:block}
.work_list li .work_area a{display:block;font-family:'Noto Sans KR';font-size:18px;line-height:300px;color:#fff}

@media all and (max-width: 1279px){
.work_wrap{padding-bottom:53px}
.work_wrap h2{margin-top:56px;font-size:40px}
.work_wrap .txt{margin-top:29px}
}
@media all and (max-width: 1000px){
.work{width:620px}
.work_list li:nth-child(odd){margin-left:0}
}
@media all and (max-width: 680px){
.work{width:300px}
.work_list li{margin-left:0}
}

footer{height:50px}
footer .copyright{font-family:'Open Sans';font-size:14px;line-height:50px;color:#7c7c7c;text-align:center}